@import 'variables';

h1 {
    color: $red-color;
    font-size: $font-2rem;
}

h2 {
    color: $blue-color;
    font-size: $font-1rem;
}

/* User Dropdown Icon Styling */
.user-icon {
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}
