<div class="search-form mt-5">
  <form method="POST" action="">
    <div class="mb-3">
      <label for="search-form" class="search-form-label">Search</label>
      <input
        type="text"
        name="q"
        class="search-form"
        id="search-box"
        plaveholder="Search..."
      />
    </div>

    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <select class="form-select" name="category" id="category">
        <option value="general" selected>General</option>
        <option value="business">Business</option>
        <option value="entertainment">Entertainment</option>
        <option value="health">Health</option>
        <option value="science">Science</option>
        <option value="sports">Sports</option>
        <option value="technology">Technology</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>